#meli-logo {
    padding-left: 85px;
    background: url(images/logo.png) no-repeat 0 0px;
    height: 21px;
}

#meen-logo {
    padding-left: 85px;
    background: url(images/mercadoenvios.png) no-repeat 0 0px;
    height: 47px;
}

.meli-cards {
    padding-left: 100px;
    height: 60px;
    width: 468px;
}

.meli {
    min-width: 100%;
    box-sizing: border-box;
}

.meli-legend {
    margin-top: 18px;
}

.meli-btn {
    margin-top: 17%;
}

.meli-payment-btn {
    margin-top: 4%;
}

.config-heading.meli .heading {
    margin-top: 18px;
}

.disabled-legend {
    float: right;
    margin-top: 18px;
    margin-right: 15px;
}

fieldset[id^="payment_mercadopago"] table {
    width: 100% !important;
}

fieldset[id^="carriers_mercadoenvios"] table {
    width: 100% !important;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.width-100-percent{
    width: 100%;
}

.height-60{
    height: 60px;
}

.mp_adminhtml_float_right {
    float: right;
}

.mp-adminhtml-title {
    width: 542.5px;
    height: 30px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #555555;
}

.mp-adminhtml-subtitle {
    width: 413px;
    height: auto;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #555555;
}

.mp-adminhtml-oval {
    margin: 0 auto 10px;
    border-radius: 20px;
    text-align: center;
    width: 36px;
    height: 36px;
    border: solid 1px #979797;
}

.mp-adminhtml-oval-number {
    width: 16px;
    height: 35px;
    font-family: OpenSans;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}

.mp-adminhtml-oval-text {
    width: 195.8px;
    height: 40px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
}

.Obtn-tus-credencial .text-style-1 {
    font-weight: bold;
}

.Obtn-tus-credencial .text-style-2 {
    color: #f21515;
}


.mp-adminhtml-row-oval{
    padding: 40px 0 40px 0;
}

.mp-adminhtml-row-oval-box{
    width: 20%;
    text-align: center;
    float: left;
    padding: 0 0 30px 0;
}

.mp-adminhtml-config-row{
    width: 100%;
}
.mp-adminhtml-config-textarea{
    width: 50%;
    height: 50px;
}

.mp-adminhtml-hr {
    width: 100%;
    height: 1px;
    background-color: #618a94;
    margin: 30px 0;
}

.mp-adminhtml-button-search-credentials{
    width: 266px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #de8022;
    text-align: center;
    color: white;
}

.mp-adminhtl-vertical-align-center{
    vertical-align: middle;
}

.mp_admin_row {
    width: 100%;
    display: inline-block;
}